/* You can add global styles to this file, and also import other style files */
@import './theme';

* {
  font-family: "Poppins", sans-serif;
}

a,
span {
  color: #414141;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
b,
strong {
  font-weight: $font-bold-weight;
}

.border-right,
.border-top {
  border-color:  $border-color !important;
}
