<article class="row">
  <header class="col-12 mt-5 mb-3">
    <h2 class="font-weight-bolder">FORMULÁRIO</h2>
  </header>
  <section class="col-12 col-md-7 pr-0">
    <header class="p-4">
      <h5 class="m-0">DADOS PESSOAIS</h5>
    </header>
    <div class="border-right">
      <address-form [bill]="bill" (addCompanion)="addCompanion($event)"></address-form>
    </div>
  </section>
  <aside class="col-12 col-md-5 pl-0">
    <header class="p-4">
      <h5 class="m-0">SEU INGRESOS</h5>
    </header>
    <ticket-coupon [movie]="movie" [bill]="bill"></ticket-coupon>
  </aside>
</article>
