<form class="m-5">
  <div class="row">
    <div class="col-12 col-lg-6 field">
      <input type="text" id="fieldFirstName" placeholder=" ">
      <label for="fieldFirstName">Primeiro nome</label>
    </div>
    <div class="col-12 col-lg-6 field">
      <input type="text" id="fieldLastName" placeholder=" ">
      <label for="fieldLastName">Último nome</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 field">
      <input type="text" id="fieldCPF" placeholder=" ">
      <label for="fieldCPF">CPF</label>
    </div>
    <div class="col-12 col-lg-6 field">
      <input type="data" id="fieldDateBirth" placeholder=" ">
      <label for="fieldDateBirth">Data de nascimento</label>
    </div>
  </div>
  <div class="field">
    <input type="mail" id="fieldEmail" placeholder=" ">
    <label for="fieldEmail">E-mail</label>
  </div>





  <h5 class="mt-5">ACOMPANHANTE 1</h5>
  <div class="row">
    <div class="col-12 col-lg-6 field">
      <input type="text" id="fieldCompanionFirstName" placeholder=" ">
      <label for="fieldCompanionFirstName">Primeiro nome</label>
    </div>
    <div class="col-12 col-lg-6 field">
      <input type="text" id="fieldCompanionLastName" placeholder=" ">
      <label for="fieldCompanionLastName">Último nome</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 field">
      <input type="text" id="fieldCompanionCPF" placeholder=" ">
      <label for="fieldCompanionCPF">CPF</label>
    </div>
    <div class="col-12 col-lg-6 field">
      <input type="data" id="fieldCompanionDateBirth" placeholder=" ">
      <label for="fieldCompanionDateBirth">Data de nascimento</label>
    </div>
  </div>
  <div class="field">
    <input type="mail" id="fieldCompanionEmail" placeholder=" ">
    <label for="fieldCompanionEmail">E-mail</label>
  </div>
  <div class="form-check mt-5">
    <input type="checkbox" id="fieldAddCompanion">
    <label for="fieldAddCompanion">Adicionar acompanhante</label>
  </div>





  <h5 class="mt-5">DADOS DA ENTREGA</h5>
  <div class="field">
    <input type="text" id="fieldZipCode" placeholder=" ">
    <label for="fieldZipCode">CEP</label>
  </div>
  <div class="field">
    <input type="text" id="fieldAddress" placeholder=" ">
    <label for="fieldAddress">Endereço</label>
  </div>
  <div class="form-group">
    <label for="fieldCountry">País</label>
    <select class="form-control" id="fieldCountry">
      <option>1</option>
      <option>2</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fieldState">Estado</label>
    <select class="form-control" id="fieldState">
      <option>1</option>
      <option>2</option>
    </select>
  </div>
  <div class="field">
    <input type="text" id="fieldPhone" placeholder=" ">
    <label for="fieldPhone">Telefone</label>
  </div>
  <div class="d-flex justify-content-end mt-5">
    <button type="submit" class="px-5 py-3 border-0">ENVIAR</button>
  </div>

</form>
