<section class="border-top mt-5 pt-5 text-center text-md-left">
  <div class="mt-5 pt-2 row">
    <div class="col-12 col-lg col-md-12 mb-4 mb-lg-0">
      <img class="img-fluid navbar__logo" src="./assets/images/logo-otech.svg" rel="internalOTECH">
      <address class="mt-4 navbar__address px-md-0 px-5">
        Street addresses: 445 Mount Eden Road, Mount Eden, Auckland - Postcodes: 5022
      </address>
    </div>
    <div class="col-12 col-md-4 col-lg">
      <header>
        <h4 class="navbar__title">SOBRE NÓS</h4>
      </header>
      <ul class="list-unstyled pb-4 py-md-4">
        <li>
          <a href="#" class="navbar__menu" rel="author">Perfil</a>
        </li>
        <li>
          <a href="#" class="navbar__menu" rel="internal">Sobre</a>
        </li>
        <li>
          <a href="#" class="navbar__menu" rel="internal">Contato</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-4 col-lg">
      <header>
        <h4 class="navbar__title">REDES SOCIAIS</h4>
      </header>
      <ul class="list-unstyled pb-4 py-md-4">
        <li>
          <a href="#" class="navbar__menu" rel="internal">Twitter</a>
        </li>
        <li>
          <a href="#" class="navbar__menu" rel="internal">Instagram</a>
        </li>
        <li>
          <a href="#" class="navbar__menu" rel="internal">Linkedin</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-4 col-lg">
      <header>
        <h4 class="navbar__title">CONTATO</h4>
      </header>
      <ul class="list-unstyled pb-4 py-md-4">
        <li>
          <a href="#" class="navbar__menu" rel="hepl">FAC</a>
        </li>
        <li>
          <a href="#" class="navbar__menu" rel="help">Sitemap</a>
        </li>
        <li>
          <a href="#" class="navbar__menu" rel="help">Dúvidas</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="text-center text-md-left">
  <header>
    <h4 class="socialMedia__title">NOSSAS REDES</h4>
  </header>
  <div>
    <a href="https://www.instagram.com/" class="socialMedia__media mr-3" target="_blank" rel="external">
      <img class="img-fluid" src="./assets/images/icon-instagram.svg" rel="internalinstagram">
    </a>
    <a href="https://www.linkedin.com/" class="socialMedia__media mr-3" target="_blank" rel="external">
      <img class="img-fluid" src="./assets/images/icon-linkedin.svg" rel="internallinkedin">
    </a>
    <a href="http://www.twitter.com/" class="socialMedia__media mr-3" target="_blank" rel="external">
      <img class="img-fluid" src="./assets/images/icon-twitter.svg" rel="internaltwitter">
    </a>
  </div>
</section>
<footer class="d-flex justify-content-between border-top my-5 pt-4">
  <span>Contact Us</span>
  <span>Copyright &copy; 2019, Template</span>
</footer>
